.wrapper {
    margin-top: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    background-color: #F5F5F5;
    width: 100%;
    min-height: calc(100vh - 71px);
    height: 100%;
    @include media-xs-portrait {
        margin-top: 54px;
    }
}

#content {
    padding: 65px 63px 0px 60px;
    transition: all 0.3s;
    width: calc(100% - 215px);
    overflow-y: scroll;
    margin-left: 250px;
    @include media-xs {
        width: 100%;
        margin-left: 0;
        padding: 10px;
    }
    @include media-sm {
        padding: 30px;
        width: 100%;
        margin-left: 0;
    }
    @include media-md {
        padding: 30px;
    }
    @include media-xs {}
    >.container {
        padding: 0;
        width: 100%;
    }
}

p {
    @include ralewayRegular();
}

h1 {}

h2 {}

h3 {}

ul {
    li {}
}

.container {
    @include media-xs {
        width: 100%;
    }
}

.primary-btn {
    @include ralewayBold();
    font-size: 1rem;
    line-height: 19px;
    min-width: 136px;
    padding: 19px 30px 20px 30px;
    border-radius: 3px;
    background: $mainRed;
    color: $white;
    text-align: center;
    -webkit-transition: background-color 0.3s, color 0.3s;
    transition: background-color 0.3s, color 0.3s;
    -webkit-font-smoothing: antialiased;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: antialiased;
    border: 1px solid $mainRed;
    position: relative;
    text-decoration: none;
    z-index: 9;
    letter-spacing: 0px;
    text-decoration: none;
    cursor: pointer;
    &:hover {
        background-color: $white;
        color: $mainRed;
        text-decoration: none;
    }
    &:focus,
    &:hover {
        outline: none;
        box-shadow: none;
    }
    &.white-btn {
        color: $mainRed;
        background-color: $white;
        &:hover {
            background: $mainRed;
            color: $white;
        }
    }
}