.form-group {
    width: 100%;
    margin-bottom: 30px;
    .input-group {
        width: 100%;
    }
    input {
        @include ralewayMedium();
        color: $mainRed;
        font-size: 1rem;
        line-height: 1.3;
        border: none;
        width: 100%;
        padding: 19px 20px;
        @include media-xs {
            display: block;
        }
        &:focus {
            outline: none;
        }
        &::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            @include ralewayMedium();
            color: $gray;
            font-size: 1rem;
            line-height: 1.3;
        }
        &::-moz-placeholder {
            /* Firefox 19+ */
            @include ralewayMedium();
            color: $gray;
            font-size: 1rem;
            line-height: 1.3;
        }
        &:-ms-input-placeholder {
            /* IE 10+ */
            @include ralewayMedium();
            color: $gray;
            font-size: 1rem;
            line-height: 1.3;
        }
        &:-moz-placeholder {
            /* Firefox 18- */
            @include ralewayMedium();
            color: $gray;
            font-size: 1rem;
            line-height: 1.3;
        }
    }
    label {
        @include ralewayBold();
        color: $dark;
        font-size: 1rem;
        line-height: 1.3;
        text-align: left;
        margin-bottom: 10px;
        display: block;
    }
    textarea {
        @include ralewayMedium();
        color: $mainRed;
        font-size: 1rem;
        line-height: 1.3;
        width: 100%;
        padding: 19px 20px;
        margin-bottom: 0;
        min-height: 108px;
        resize: none;
        &:focus {
            outline: none;
        }
        &::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            @include ralewayMedium();
            color: $gray;
            font-size: 1rem;
            line-height: 1.3;
        }
        &::-moz-placeholder {
            /* Firefox 19+ */
            @include ralewayMedium();
            color: $gray;
            font-size: 1rem;
            line-height: 1.3;
        }
        &:-ms-input-placeholder {
            /* IE 10+ */
            @include ralewayMedium();
            color: $gray;
            font-size: 1rem;
            line-height: 1.3;
        }
        &:-moz-placeholder {
            /* Firefox 18- */
            @include ralewayMedium();
            color: $gray;
            font-size: 1rem;
            line-height: 1.3;
        }
        @include media-xs {
            width: 100%;
            min-height: 150px;
        }
        @include media-md {
            min-height: 160px;
        }
        @include media-sm {
            min-height: 140px;
        }
    }
    &.mandatory {
        label {
            &:after {
                content: "*";
                position: relative;
                top: 1px;
                left: 0px;
                font-size: 1rem;
                line-height: 1rem;
            }
        }
    }
    input,
    .select,
    textarea {
        background-color: $white;
        border: 1px solid $gray;
        border-radius: 3px;
        transition: border-color 500ms ease-out, box-shadow 500ms ease-out, background-color 500ms ease-out;
        &:focus {
            border-color: $mainRed;
        }
    }
    select {
        width: 100%;
        background: $white url("../../../assets/images/select-icon.svg") no-repeat 95% 64%;
        @include ralewayMedium();
        color: $dark;
        font-size: 1rem;
        line-height: 1.3;
        border: none;
        width: 100%;
        padding: 19px 20px;
        border: 1px solid $gray;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none;
        outline: 0;
        box-shadow: none;
        border: 0;
        &::-ms-expand {
            display: none;
        }
        &:focus {
            option {
                &.holder {
                    display: none;
                }
            }
        }
    }
    .error-msg {
        display: none;
    }
    &.form-error {
        position: relative;
        input,
        select,
        textarea {
            border: 1px solid $mainRed;
            background-color: #F8ECEC;
            &::-webkit-input-placeholder {
                /* Chrome/Opera/Safari */
                color: $mainRed;
            }
            &::-moz-placeholder {
                /* Firefox 19+ */
                color: $mainRed;
            }
            &:-ms-input-placeholder {
                /* IE 10+ */
                color: $mainRed;
            }
            &:-moz-placeholder {
                /* Firefox 18- */
                color: $mainRed;
            }
        }
        &.full-width {
            .error-msg {
                bottom: -10px;
            }
        }
        .error-msg {
            @include ralewayRegular();
            display: inline-block;
            font-size: 12px;
            line-height: 11px;
            line-height: normal;
            color: $mainRed;
            position: absolute;
            right: 15px;
            top: 7px;
        }
    }
    &.form-success {
        position: relative;
        input,
        select,
        textarea {
            border: 1px solid $green;
        }
        input,
        textarea {
            color: $green;
        }
    }
}

.control {
    display: block;
    position: relative;
    cursor: pointer;
    color: $dark;
    line-height: 1.2;
    font-size: 0.75rem;
    @include ralewayBold();
    padding-left: 27px;
    margin: 0;
    input {
        position: absolute;
        z-index: -1;
        opacity: 0;
        left: -1000px;
        &:focus {
            ~.control-indicator {
                background: $white;
            }
        }
        &:checked {
            ~.control-indicator {
                background: $mainRed;
                &:after {
                    display: block;
                }
            }
            &:focus {
                outline: none;
                ~.control-indicator {
                    background: $mainRed;
                }
            }
        }
        &:disabled {
            ~.control-indicator {
                background: #e6e6e6;
                opacity: 0.6;
                pointer-events: none;
            }
        }
    }
    .control-indicator {
        position: absolute;
        top: -1px;
        left: 0;
        height: 16px;
        width: 16px;
        background: $white;
        border-radius: 2px;
        border: 1px solid $gray;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        &:after {
            content: '';
            position: absolute;
            display: none;
        }
    }
    &.custom-checkbox {
        .control-indicator {
            &:after {
                left: 6px;
                top: 2px;
                width: 3px;
                height: 8px;
                border: solid $white;
                border-width: 0 2px 2px 0;
                transform: rotate(45deg);
            }
        }
        input:disabled {
            ~.control-indicator {
                &:after {
                    border-color: #7b7b7b;
                }
            }
        }
    }
}