.sidebar {
    width: 250px;
    transition: all 0.3s;
    background-color: $dark;
    position: fixed;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    min-height: calc(100vh - 62px);
    z-index: 10;
    border: 1px solid transparent;
    padding-top: 10px;
    @include media-xs {
        position: absolute;
        left: -100%;
    }
    @include media-sm {
        position: absolute;
        left: -100%;
    }
    &.show {
        left: 0;
    }
    &:not(.show) {
        @include media-md {
            display: block;
        }
        @include media-lg {
            display: block;
        }
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
        >li {
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
            cursor: pointer;
            >a {
                text-decoration: none;
                color: $white;
                position: relative;
                @include ralewayMedium();
                font-size: 1rem;
                line-height: 1.3;
                letter-spacing: 0;
                padding: 10px 15px 13px 28px;
                display: block;
                &:before {
                    content: "";
                    background-color: $dark;
                    width: 4px;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    -webkit-transition: all 0.3s ease;
                    transition: all 0.3s ease;
                }
                &:hover {
                    background-color: #0E0D0D;
                    &:before {
                        background-color: $mainRed;
                    }
                }
                img {
                    position: relative;
                    top: -2px;
                    max-width: 100%;
                    max-height: 100%;
                    margin-right: 20px;
                }
                &[aria-expanded="true"] {
                    background-color: #0E0D0D;
                    &:before {
                        background-color: $mainRed;
                    }
                    span {
                        &:before {
                            top: 1px;
                            transform: rotate(270deg);
                        }
                    }
                }
                span {
                    position: relative;
                    &:before {
                        margin-left: -17px;
                        content: "";
                        position: absolute;
                        top: 7px;
                        width: 19px;
                        height: 11px;
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-image: url("../../../assets/images/white-select-icon.svg");
                    }
                }
            }
            div {
                a {
                    @include ralewayRegular();
                    font-size: 0.875rem;
                    line-height: 1.2;
                    padding: 10px 15px 13px 55px;
                }
                ul {
                    li {}
                }
            }
        }
    }
}

.navbar-toggler {
    &:focus {
        outline: none;
        box-shadow: none;
    }
    &.sidebar-navbar-toggler {
        display: none;
        width: 25px;
        height: 25px;
        position: absolute;
        left: 15px;
        top: 20px;
        cursor: pointer;
        &:hover {
            span {
                background-color: $mainRed;
                &:after,
                &:before {
                    width: 100%;
                    background-color: $mainRed;
                }
            }
        }
        @include media-xs {
            display: block;
            left: 0px;
            top: 13px;
        }
        @include media-xs-landscape {
            top: 20px;
        }
        @include media-sm {
            display: block;
        }
        span {
            position: absolute;
            display: block;
            width: 100%;
            height: 4px;
            background-color: $mainRed;
            -webkit-transition: .3s cubic-bezier(.97, .75, .61, 1.84);
            transition: .3s cubic-bezier(.97, .75, .61, 1.84);
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            border-radius: 2px;
            &:after,
            &:before {
                content: "";
                position: absolute;
                left: 0;
                height: 4px;
                -webkit-transition: .3s cubic-bezier(.97, .75, .61, 1.84);
                transition: .3s cubic-bezier(.97, .75, .61, 1.84);
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
                border-radius: 2px;
                background-color: $mainRed;
            }
            &:after {
                top: 7px;
                width: 70%;
            }
            &:before {
                top: -7px;
                width: 40%;
            }
        }
    }
}